.shadowforheader{ 
background: #3AB0FF;
background: -webkit-linear-gradient(to left, #3AB0FF 28%, #FFB562 50%, #F87474 100%);
background: -moz-linear-gradient(to left, #3AB0FF 28%, #FFB562 50%, #F87474 100%);
background: linear-gradient(to left, #3AB0FF 28%, #FFB562 50%, #F87474 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

