.shadowforheader1{ 
background: #4285F4;
background: -webkit-linear-gradient(to right, #4285F4 25%, #EA4335 50%, #FBBC05 75%, #34A853 100%);
background: -moz-linear-gradient(to right, #4285F4 25%, #EA4335 50%, #FBBC05 75%, #34A853 100%);
background: linear-gradient(to right, #4285F4 25%, #EA4335 50%, #FBBC05 75%, #34A853 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.shadowforheader2{ 
 color: rgb(255,255,255);
  background-color: rgb(15,71,89);
  mix-blend-mode: multiply;
}
